<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.ziroom.mapper.UserMapper">

    <select id="getByKeyList" resultType="list">
        select rooms.* from rooms,attrvalue where attr
    </select>
</mapper>